<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Notifications</key>
	<dict>
		<key>TotalTasks</key>
		<integer>0</integer>
		<key>ActiveAlarms</key>
		<integer>0</integer>
		<key>ActiveReminders</key>
		<integer>0</integer>
	</dict>
	<key>AllTasks</key>
	<dict>
		<key>TotalTasks</key>
		<integer>0</integer>
		<key>TimeLeft</key>
		<integer>0</integer>
		<key>TimeElapsed</key>
		<integer>0</integer>
	</dict>
	<key>TodayTasks</key>
	<dict>
		<key>TotalTasks</key>
		<integer>0</integer>
		<key>ActiveTasks</key>
		<integer>0</integer>
		<key>TimeLeft</key>
		<integer>0</integer>
		<key>TimeElapsed</key>
		<integer>0</integer>
	</dict>
	<key>History</key>
	<dict>
		<key>TotalTasks</key>
		<integer>0</integer>
		<key>TimeElapsed</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
